ul {
  list-style: none;
  padding-inline-start: initial;
}


.nav-button {
  /* background-color: #ced3d6; */
  /* border: solid darkslategray 2px .5em; */
  background-color: rgb(251, 249, 255);
  color: rgb(20, 20, 20);
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: large;
  margin: 4px 2px;
  cursor: pointer;
  min-height: 1em;
  padding: .5em 1em;
  width: 100%;
  outline: #274469 2px solid;
}