* {
  box-sizing: border-box;
}

body {
  width: 100%;
  text-align: center;
  margin: auto;
  background: rgb(193, 194, 196);
}

section {
  margin: auto;
  font-size: x-large;
  background: lightgrey;
  min-height: 5em;
  padding: 2em;

}

.nav-bar {
  background: rgb(224, 226, 230);
  width: 100%;
  min-height: 1.5em;
  margin: auto; 
  padding: .5em;
}

.goal-block {
  background: rgb(229, 232, 238);
  padding: .5em;
  border: solid rgb(95, 88, 88) 2px;
  min-height: 3em;


}

.submit-button, .tracking-button {
  display:inline;
  min-height: 1em;
  font-size: x-large;
  border: 1em;
  padding: 1em;
  margin: 1em;
}

.input-style {
  padding-top: 1.5em;
}

.textfield {
  min-height: 3.5em;
  margin: 1em;
  padding: .5em;
  font-size: large;

}

.manage-button {
  display: block;
  margin: auto;
  min-height: 1em;
  font-size: large;
  border:solid darkslategray 2px .5em;
  padding: .5em;
  
}

.button-spacing {
  margin: .5em 0 .5em 0;
}

.nav-button {
  min-height: 1em;
  font-size: medium;
  border: solid darkslategray 2px .5em;
  padding: .5em 1em;
}

.login-form {
  width: 100%;
  margin: auto;
  font-size: x-large;
  background: lightgrey;
  min-height: 5em;
  outline: black solid;

}

.register-button {
  display:inline;
  min-height: 1em;
  font-size: large;
  border: 1em;
  padding: 1em;
  margin: 1em;
}

.signup-form {
  width: 100%;
  margin: auto;
  font-size: x-large;
  background: lightgrey;
  min-height: 5em;
  background: lightgrey;
  outline: black solid;

}

.login-button {
  display:inline;
  min-height: 1em;
  font-size: large;
  border: 1em;
  padding: 1em;
  margin: 1em;
}

.error-style {
  font-size: medium;
  color: rgb(51, 48, 48)
}

.label-style {
  padding: 1em;
}