* {
  box-sizing: border-box;
}

body {
  width: 80%;
  text-align: center;
  margin: auto;
  /* background: rgb(193, 194, 196); */
  /* background: #A2A3BB; */
  /* background: #C2E2BC; */
  /* background: #E0FFE1 */
  background: #FEFFEF;
  min-width: 300px;
}
h1, h2, h3 {
  font-family: 'Nanum Gothic', sans-serif;
  color: rgb(0, 8, 7)
}

p {
  font-family: 'Roboto', sans-serif;
}
section {
  margin: auto;
  font-size: x-large;
  /* background: lightgrey; */
  /* background: rgb(147, 149, 211); */
  background: #EAFDFF;
  min-height: 2.5em;
  padding: .5em;
  font-family: 'Nanum Gothic', sans-serif;
}

.nav-bar {
  /* background: rgb(224, 226, 230); */
  background: #E0FDFF;
  width: 100%;
  min-height: 1.5em;
  margin: auto; 
  padding: .5em;
  font-family: 'Nanum Gothic', sans-serif;
}

.landingpagetext {
  font-family: 'Nanum Gothic', sans-serif;
}
.goal-block {
  /* background: rgb(229, 232, 238); */
  /* background: rgb(222, 192, 241); */
  /* background:#E0F0FF; */
  background: #FEFFEF;
  padding: .5em;
  border: solid rgb(95, 88, 88) 2px;
  min-height: 3em;
}

.submit-button, .tracking-button {
  display:inline;
  min-height: 1em;
  font-size: x-large;
  border: 1em;
  padding: 1em;
  margin: 1em;
  font-family: 'Roboto', sans-serif;
  /* background-color: rgb(222, 192, 241) */
  background-color: #DDDEFF;
  border: #000807 3px solid;
  border-radius: 25px;
}

.input-style {
  padding-top: 1.5em;
}

.textfield {
  min-height: 3.5em;
  margin: 1em;
  padding: .5em;
  font-size: large;
  font-family: 'Roboto', sans-serif;
  border: #274469 2px solid;
  border-radius: 25px;

}

.manage-button {
  display: block;
  margin: auto;
  min-height: 3em;
  font-size: large;
  /* border-color:solid darkslategray 2px .5em; */
  padding: .5em;
  background-color: #EAFDFF;
  border-radius: 25px;
  
}

.button-spacing {
  margin: .5em 0 .5em 0;
}

.nav-button {
  min-height: 1em;
  font-size: medium;
  /* border: solid darkslategray 2px .5em; */
  padding: .5em 1em;
  
}




.login-form {
  width: 100%;
  margin: auto;
  font-size: x-large;
  /* background: lightgrey; */
  background: #FEFFEF;
  min-height: 5em;
  outline: black solid;

}

.register-button {
  display:inline;
  min-height: 1em;
  font-size: large;
  border: 1em;
  padding: 1em;
  margin: 1em;
}

.signup-form {
  width: 100%;
  margin: auto;
  font-size: x-large;
  background: lightgrey;
  min-height: 5em;
  /* background: lightgrey; */
  background-color: #FEFFEF;
  outline: black solid;

}

.login-button {
  display:inline;
  min-height: 1em;
  font-size: large;
  border: 1em;
  padding: 1em;
  margin: 1em;
  border-radius: 25px;
}

.error-style {
  font-size: medium;
  color: rgb(51, 48, 48);
  margin: .5em 0 .5em 0;
  font-family: 'Montserrat', sans-serif
}

.label-style {
  padding: 1em;
}

.goal-progress-link {
  /* background-color: #DDDEFF; */
  background-color: #fbf9ff;
  /* border: solid darkslategray 2px .5em; */
  color: rgb(20, 20, 20);
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: large;
  margin: 4px 2px;
  /* cursor: pointer; */
  /* min-height: 1em;
  padding: .5em 1em; */
  font-family: 'Montserrat', sans-serif;
  border: #274469 2px solid;
  border-radius: 25px;
  min-height: 5em;
  padding: 2em 1em;

}

.nav-link {
  /* background-color: #DDDEFF; */
  background-color: #fbf9ff;
  /* border: solid darkslategray 2px .5em; */
  color: rgb(20, 20, 20);
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: large;
  margin: 4px 2px;
  font-family: 'Montserrat', sans-serif;
  border: #274469 2px solid;
  border-radius: 25px;
  padding: 1em;

}

.manage-link {
  /* background-color: #ced3d6; */
  background-color: #BABCFF;
  /* border: solid darkslategray 2px .5em; */
  display: block;
  min-height: 1em;
  padding: .5em;
  font-size: large;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  color: rgb(20, 20, 20);
  border-radius: 25px;

}

.manage-link-go-add-goal {
  background-color: #DDDEFF;
  border: solid darkslategray 2px .5em;
  display: block;
  min-height: 2em;
  padding: 2em;
  font-size: x-large;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  color: rgb(20, 20, 20);
}

.tracking-goal {
  font-size: xx-large

}