* {
  box-sizing: border-box;
}

body {
  max-width: 65%;
  text-align: center;
  margin: auto;
  background: #FEFFEF;
  min-width: 300px;
}
h1, h2, h3 {
  font-family: 'Nanum Gothic', sans-serif;
  color: rgb(0, 8, 7)
}

p {
  font-family: 'Roboto', sans-serif;
}

section {
  margin: auto;
  font-size: x-large;
  background: #EAFDFF;
  min-height: 2.5em;
  padding: .5em;
  font-family: 'Nanum Gothic', sans-serif;
}

.header-div {
  padding: 2em
}

.nav-bar {
  background: #E0FDFF;
  width: 100%;
  min-height: 1.5em;
  margin: auto; 
  padding: 2em;
  font-family: 'Nanum Gothic', sans-serif;
  cursor: pointer;
  min-width: 320px;
}

.landingpagetext {
  font-family: 'Nanum Gothic', sans-serif;
}
.goal-block {
  background: #FEFFEF;
  padding: .5em;
  border: solid rgb(95, 88, 88) 2px;
  min-height: 3em;
}

.submit-button:hover, .tracking-button:hover {
  background-color: #dec0f1
}
.submit-button, .tracking-button {
  display:inline;
  min-height: 1em;
  font-size: x-large;
  border: 1em;
  padding: 1em;
  margin: 1em;
  font-family: 'Roboto', sans-serif;
  background-color: #DDDEFF;
  border: #000807 3px solid;
  border-radius: 25px;
  cursor: pointer;
}

.input-style {
  padding-top: 1.5em;
}

.textfield {
  min-height: 3.5em;
  margin: 1em;
  padding: .5em;
  font-size: large;
  font-family: 'Roboto', sans-serif;
  border: #274469 2px solid;
  border-radius: 25px;

}

.manage-button {
  display: block;
  margin: auto;
  min-height: 3em;
  font-size: large;
  padding: .5em;
  background-color: #EAFDFF;
  border-radius: 25px;
  cursor: pointer;
}

.manage-button:hover {
  background-color:#7cafe6;
  
}
.button-spacing {
  margin: .5em 0 .5em 0;
}

.login-form {
  width: 100%;
  margin: auto;
  font-size: x-large;
  background: #FEFFEF;
  min-height: 5em;
  outline: black solid;
}

.register-button {
  display:inline;
  min-height: 1em;
  font-size: large;
  border: 1em;
  padding: 1em;
  margin: 1em;
}

.signup-form {
  width: 100%;
  margin: auto;
  font-size: x-large;
  background: lightgrey;
  min-height: 5em;
  background-color: #FEFFEF;
  outline: black solid;
}

.login-button {
  display:inline;
  min-height: 1em;
  font-size: large;
  border: 1em;
  padding: 1em;
  margin: 1em;
  border-radius: 25px;
}

.error-style {
  font-size: medium;
  color: rgb(51, 48, 48);
  margin: .5em 0 .5em 0;
  font-family: 'Montserrat', sans-serif
}

.label-style {
  padding: 1em;
}

.goal-progress-link {
  background-color: #fbf9ff;
  color: rgb(20, 20, 20);
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: large;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  border: #274469 2px solid;
  border-radius: 25px;
  min-height: 5em;
  padding: 2em 1em;
}

.goal-progress-link:hover {
  background-color: #dec0f1
}

.nav-link {
  background-color: #fbf9ff;
  color: rgb(20, 20, 20);
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: large;
  margin: 4px 2px;
  font-family: 'Montserrat', sans-serif;
  border: #274469 2px solid;
  border-radius: 25px;
  padding: 1em;

}

.nav-link:hover {
  background-color: #dec0f1
}

.manage-link {
  background-color: #BABCFF;
  display: block;
  min-height: 1em;
  padding: .5em;
  font-size: large;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  color: rgb(20, 20, 20);
  border-radius: 25px;
}

.manage-link-go-add-goal {
  background-color: #DDDEFF;
  border: solid darkslategray 2px .5em;
  display: block;
  min-height: 2em;
  padding: 2em;
  font-size: x-large;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  color: rgb(20, 20, 20);
}

.tracking-goal {
  font-size: xx-large
}

.footer-link {
    color:  rgb(88, 42, 186);
    display: block
}

/* Header link css */
ul {
  list-style: none;
  padding-inline-start: initial;
}

.nav-button-link:hover{
  background-color:#efd9ce
}

.nav-button-link {
  background-color: rgb(251, 249, 255);
  color: rgb(20, 20, 20);
  text-align: center;
  text-decoration: none;
  font-size: large;
  margin: 4px 2px;
  cursor: pointer;
  min-height: 1em;
  padding: .5em 1em;
  width: 60%; 
  outline: #274469 2px solid;
  margin: .5em;
  display: inline-block;
  min-width: 200px
}
